.site-about {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    aspect-ratio: 1;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    background-image: url('../images/ava.jpg');
    background-size: cover;
}

.author-info p {
    margin-bottom: 10px;
    margin: 15px;
}