.sorevnovaniya-index {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    font-size: 0.95rem;
    border-spacing: 0;
}

.table th {
    white-space: nowrap;
}

.table-responsive {
    overflow-x: auto;
}

.pagination {
    margin-top: 20px;
}

.filter-btn {
    margin-bottom: 15px;
}

.table tbody tr {
    transition: background-color 0.2s ease;
}

.table tbody tr:hover {
    background-color: #f8f9fa;
    /* легкий hover-эффект */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* небольшая тень для эффекта "поднятия" */
    transform: translateY(-1px);
    /* небольшое смещение вверх */
}